---
import LetlIntro from "./LetlIntro.md";
import LetlIntroExtended from "./LetlIntroExtended.md";
---
<section>
  <article>
    <h1>Legendoja & lohikäärmeitä</h1>
    <LetlIntro />
    <LetlIntroExtended />
  </article>
</section>