---
import LetlContent from "./LetlContent.astro";
import LetlIntro from "./LetlIntro.md";
---
<LetlContent>
  <section>
    <article>
      <h1>Legendoja & lohikäärmeitä</h1>
      <LetlIntro />
    </article>
    <article>LETL INDEX</article>
  </section>
</LetlContent>
