---
import { Image } from 'astro:assets';
import LetlContent from "./LetlContent.astro";
import LetlIntro from "./LetlIntro.md";
import LetlProductList from "./LetlProductList.md";
---
<LetlContent>
  <section>
    <article>
      <h1>Legendoja & lohikäärmeitä</h1>
      <div class="two-col">
        <div>
          <LetlIntro />
        </div>
        <div>
          <LetlProductList />
        </div>
      </div>
    </article>
    <div class="cta">
      <Image 
        src="/letl/basiliski.webp" 
        class="basilisk" 
        alt="Basiliski"
        width={1024}
        height={724}
        widths={[348, 696, 1024]}
        format="webp"
        loading="lazy"
      />
      <a href="/letl" class="button">Lue lisää</a>
    </div>
  </section>
</LetlContent>

<style>
  div.cta {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.basilisk {
  margin-top: calc(var(--grid) * -4);
  pointer-events: none;
}
@media  (min-width: 640px) {
.basilisk {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  bottom: calc(var(--grid) * -7);
  left: calc(var(--grid) * -11);
  margin: 0;
  pointer-events: none;
}
div.cta {
  height: calc(var(--grid) * 6);
}
div.cta .button {
  z-index: 10;
}
}
</style>
