<section class="two-col">
  <article>
    <h2>Yhteensopivuus</h2>
    <p>
      L&L ja monet muut 5e SRD:hen perustuvat pelit ovat yhteensopivia keskenään. Tämä tarkoittaa, että voit käyttää L&L-tuotteita yhdessä muiden saman tyyppisten pelien ja säännöstöjen kanssa.
    </p>
  </article>
  <article>
    <h2>Yhteensopivuuslogo</h2>
    L&L:n kanssa yhteen toimivaksi suunnitellun seikkailun, teoksen tai pelin voi merkitä helposti yhteesopivuuslogolla. Klikkaa logoa alta jos tarvitset täyskokoisen kuvan.
    <a href="/branding/yhteensopivuus-logo.jpg"
      style="display: flex; justify-content: center; margin-top: 1rem;"
      target="_blank">
      <img src="/branding/yhteensopivuus-preview.webp" alt="Yhteensopivuuslogo" />
    </a>
  </article>
</section>