---
import BlogIndex from "@components/blog/BlogIndex.astro";
import LetlProductList from "./LetlProductList.md";
---
<section class="two-col">
  <article>
    <h2>Blogissa</h2>
    <BlogIndex tag="L&L" limit={4}/>
    <br>
    <p class="flex justify-center">
      <a href="/blog/tag/l%26l" class="button">N채yt채 lis채채</a>
    </p>
  </article>
  <article>
    <LetlProductList />
  </article>
</section>