---
import Legenda24Section from "@components/legenda/Legenda24Section.astro";
import LegendaFrontArticle from "@components/legenda/LegendaFrontArticle.astro";
import Page from "src/layouts/Page.astro";
---

<Page
  title="Legendoja & Lohikäärmeitä"
  image="/letl/basiliski.webp"
  description="Legendoja & Lohikäärmeitä on suomenkielinen roolipeli, jonka säännöt perustuvat maailman suosituimman fantasiapelin 5. laitoksen avoimeen lähteeseen."
>
  <main>
    <h1 class="visually-hidden">Legenda</h1>
    <main class="content-grid theme-legenda">
      <section class="surface">
        <LegendaFrontArticle />
      </section>

      <Legenda24Section />

      <section class="two-col surface">
        <article>
          <h2>Mukaan tekijäksi?</h2>
          <h3>Kirjoittaja</h3>
          <p>
            Suurimman osan Legendan materiaalista muodostaa kirjoitetut jutut.
            Etsimme aina juttuja kunkin vuoden teemaan liittyen sekä yleisesti
            seikkailuja ja materiaalia pelinjohtajille kuten uusia vastustajia,
            taikaesineitä. Katso kirjoitusohjeet <a href="#kirjoitusohjeet"
              >alta</a
            >.
          </p>
          <h3>Kuvittaja</h3>
          <p>
            Legendaan sopii kaikki fantasiakuvitus. Emme maksa kuvituksesta
            mitään, joten älä ota tämän suhteen paineita. Pöytälaatikosta
            löytyvät aiemmin tehdyt kuvitukset ovat sopivaa materiaalia lehteen.
          </p>

          <p><strong>HUOM. Ei AI-kuvitusta.</strong></p>
          <h3>Toimitus</h3>

          <p>
            Lehteä toimittaa vapaaehtoisten joukko. Jos hallitset hyvin suomen
            kielen ja/tai L&L säännöt sekä olet kiinnostunut auttamaan lehden
            tekemisessä, liity mukaan toimitukseen.
          </p>

          <p>
            Jos innostuit, laita sähköpostia osoitteeseen <a
              href="mailto:myrrysmiehet@sange.fi">myrrysmiehet@sange.fi</a
            >
          </p>
        </article>

        <article>
          <h2>Kirjoitusohjeet</h2>

          <p>
            Toimitus auttaa tekstin muokkaamisessa luettavaksi ja tekee kaikki
            korjaukset oikoluvun jälkeen, mutta oikolukemista auttaa toki, jos
            olet kirjoittanut mahdollisimman hyvin. Tekstiä tekee
            ymmärrettäväksi lyhyiden virkkeiden käyttäminen ja selkeä
            kappalejako. Voit kokeilla lukea itse tekstisi äänen ja kuunnella
            sekä miettiä onko teksti ymmärrettävää. Kielitoimiston ohjepankista
            (https://kielitoimistonohjepankki.fi/) löytyy ohjeita
            oikeinkirjoitukseen. Yhden sivun merkkimäärä on noin 6800-7500
            merkkiä ilman kuvitusta sisältäen välilyönnit ja rivinvaihdot.
            Artikkelien pituus on 1-8 sivua, mieluiten 1-2 sivua.
          </p>

          <p>
            Kaikki Legenda-lehden tekstit tulevat pelipöytäkäyttöön.Tämä
            tarkoittaa sitä, että sivuhahmoille, taikaesineille, uusille
            olennoille ja muille vastaaville laitetaan lehteen pelitekniset
            tiedot. Toimitus lisää nämä tarvittaessa puolestasi, jos et osaa
            sitä itse tehdä. Toimittamisen peliteknistä puolta auttaa kuitenkin,
            jos osaat kertoa suunnilleen millaisia keskimäsi esineet tai olennot
            ovat voimatasoltaan tai mitä ne tekevät.
          </p>
        </article>
      </section>
    </main>
  </main>
</Page>
