---
import BlogIndex from "@components/blog/BlogIndex.astro";
import Page from "src/layouts/Page.astro";
---
<Page title="MYRRYS">
  <main class="content-grid">
    <section>
      <article>
        <h1>Blogi</h1>
        <BlogIndex />
      </article>
    </section>
  </main>
</Page>
