---
import Page from "src/layouts/Page.astro";
---
<Page 
  title="HOOD"
  image="/branding/hood.svg"
  description="Robin Hoodin legendaan perustuva seikkailullinen roolipeli. Kirjoittanut Jukka Sorsa."
  >
  <main class="content-grid">
    <section class="golden-col">
      <article>
      <h1>Hood</h1>
      <p>
        <em>Tervetuloa Sherwoodin Metsiin</em>
      </p>
      <p>Seppä-Edmund oli varma, että hänen loppunsa oli tullut. Hirttoköysi painoi ilkeästi kaulaa ja pyöveli lähestyi. Edmundin yllätykseksi pyöveli nosti huppua paljastaen Robert
        Kurkikoiven hymyilevät kasvot hetkeksi. Samassa jostain lensi nuoli katkaisten hirttoköyden. Ainoastaan Pitkäjousi-Alice osaisi ampua noin tarkasti. Ja siellähän hän seisoi muurin päällä. Robert nappasi Edmundin kiinni ja työnsi hänet hirttolavan takana
        odottaneisiin vankkureihin. Vankkurit kiitivät täyttä vauhtia kohti kaupungin portteja
        Alicen syytäessä nuolia toisensa perään portin vartijoiden päälle.
      </p>
      <p>Hood-roolipelissä pelaajien hahmot seikkailevat Robin Hoodin legendan innoittamissa
        pelinjohtajan valmistelemissa seikkailuissa. Roolipelin pelaamiseen tarvitaan
        vähintään pelinjohtaja ja yksi pelaaja. Hood on tarkoitettu kaikenikäisille
        10-vuotiaasta ylöspäin.
      </p>
      <h3>Kirja Sisältää:</h3>
      <ul>
        <li>Ohjeet hahmojen luomiseen</li>
        <li>Pelisäännöt</li>
        <li>Valmisseikkailun</li>
        <li>Pelinjohto-ohjeita</li>
        <li>Tietoa Robin Hoodin ajan Englannista</li>
      </ul>
      <p>Hoodin pelaamiseen tarvitaan kirjan lisäksi 20-sivuisia noppia</p>
      </article>
      <article>
        <img src="/branding/hood.svg" alt="Hood" />
        <h2>Osta Peli</h2>
        <p>
          <a href="https://preview.drivethrurpg.com/en/product/202800/Hood" class="button">DriveThruRPG</a>
        </p>
        <h2>Lataukset</h2>
        <p>
            <a href="/downloads/Hood_hahmolomake_A4_002.pdf">Hahmolomake</a>
        </p>
      </article>
    </section>
  </main>
</Page>
