---
import LetlContent from "@components/letl/LetlContent.astro";
import LetlDescription from "@components/letl/LetlDescription.md";
import Page from "src/layouts/Page.astro";
---

<Page
  title="Legendoja & Lohikäärmeitä"
  image="/letl/basiliski.webp"
  description="Legendoja & Lohikäärmeitä on suomenkielinen roolipeli, jonka säännöt perustuvat maailman suosituimman fantasiapelin 5. laitoksen avoimeen lähteeseen."
>
  <main>
    <LetlContent>
      <article class="surface">
        <LetlDescription />
      </article>
    </LetlContent>
  </main>
</Page>
