---
import { Image } from 'astro:assets';
import LetlContent from "@components/letl/LetlContent.astro";
import LessIntro from "./LessIntro.md";
import LessProductList from "./LessProductList.md";
---
<LetlContent>
    <section>
      <article>
        <h1>L&L Suuri seikkailu</h1>
        <div class="two-col">
          <div>
            <LessIntro />
          </div>
          <div>
            <LessProductList />
          </div>
        </div>
      </article>
      <div class="cta">
        <Image 
          src="/letl/llss/ritari-press-kit.webp" 
          class="knight" 
          alt="Ritari"
          width={1024}
          height={1528}
          widths={[348, 696, 1024]}
          format="webp"
          loading="lazy"
        />
        <a href="/letl-suuri-seikkailu" class="button">Lue lisää</a>
      </div>
    </section>
  </LetlContent>

<style>
@media  (min-width: 640px) {
  .cta {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .cta .button {
    z-index: 10;
  }
  .knight {
    position: absolute;
    bottom: calc(var(--grid) * -5);
    right: calc(var(--grid) * -7);
    height: calc(var(--grid) * 37);
  }
}
</style>