button,
.button {
  background-color: color-mix(in hsl, var(--color-primary), black 70%);
  color: white;
  border: none;
  height: calc(2 * var(--grid));
  line-height: calc(2 * var(--grid));
  text-decoration: none;
  padding: 0 calc(0.75 * var(--grid));
  transition: filter 0.2s ease-in-out;
  text-transform: uppercase;
  font-weight: 600;
  font-size: calc(1.11 * var(--grid));
  display: block;
  transition: all 0.23s ease-in-out;
  box-shadow: 0 0 8px -2px var(--color-primary);
}
button:hover,
.button:hover {
  background-color: var(--color-primary);
  text-decoration: none !important;
  box-shadow: 0 0 8px 0px color-mix(in hsl, var(--color-primary), black 30%);
}

button:active,
.button:active,
button.active,
.button.active {
  filter: brightness(1.1);
}

button.textButton,
.button.textButton {
  transition: all 0.2s ease-in-out;
  background-color: hsla(0, 0%, 0%, 0.22);
  color: white;
}

button.textButton:hover,
.button.textButton:hover {
  background-color: hsla(0, 0%, 0%, 0.44);
}

button.textButton:active,
.button.textButton:active,
button.textButton.active,
.button.textButton.active {
  background-color: hsla(0, 0%, 0%, 0.33);
}
