.content-grid {
  background: var(--background-container);
  --padding-inline: var(--grid);
  --content-max-width: 780px;
  --breakout-width: calc(8 * var(--grid));
  --breakout-max-width: calc(var(--breakout-width) + var(--content-max-width));
  padding: var(--grid) 0;
  position: relative;
  container: grid / inline-size;
}
.content-grid > section {
  background: var(--surface-primary);
  padding: var(--grid);
  color: var(--color-key, black);
}
.content-grid > section + section {
  margin-top: var(--grid);
}

.content-grid {
  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) /
    2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% -
      (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}
