body {
  --font-header: Oswald, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-size: calc(1 * var(--grid));
  --line-height: calc(2 * var(--grid));

  --font-size-small: calc(0.875 * var(--grid));
  --line-height-small: calc(1 * var(--grid));

  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: "Open Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
h2 {
  font-family: var(--font-header);
  font-weight: 200;
}
h3,
h4 {
  font-weight: 700;
}
.text-center {
  text-align: center;
}
