body {
  --font-header: Oswald, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-size: calc(1 * var(--grid));
  --line-height: calc(2 * var(--grid));

  --font-size-small: calc(0.875 * var(--grid));
  --line-height-small: calc(1 * var(--grid));

  --font-size-small: calc(0.875 * var(--grid));
  --line-height-small: calc(1 * var(--grid));

  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: "Open Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1,
h2 {
  font-family: var(--font-header);
  font-weight: 400;
}
h1 {
  font-size: calc(2.5 * var(--grid));
  line-height: calc(3 * var(--grid));
  text-transform: uppercase;
  margin-bottom: calc(2 * var(--grid));
}
h2 {
  font-size: calc(1.75 * var(--grid));
  line-height: calc(2 * var(--grid));
  margin-bottom: calc(1 * var(--grid));
  font-weight: 200;
  text-transform: uppercase;
}

h3,
h4 {
  font-weight: 700;
  line-height: var(--line-height);
}
h3 {
  font-size: calc(1.25 * var(--grid));
}
p {
  margin: 0;
  margin-bottom: var(--grid);
}
.text-small {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}
.text-center {
  text-align: center;
}
blockquote {
  font-style: italic;
  margin: 0;
  padding: calc(0.5 * var(--grid)) var(--grid);
}
blockquote p {
  margin: 0;
}
p + blockquote,
blockquote + p {
  margin-top: var(--grid);
}
a {
  text-decoration-color: var(--color-primary);
}
