---
import QuickContent from "@components/quick/QuickContent.astro";
import Page from "src/layouts/EnPage.astro";
---
<Page title="MYRRYS">
  <main>
    <QuickContent>
      <section>
        <h1>The Quick</h1>
        <div class="golden-col">
          <article>
            <h2>Nordic Noir Ghost Stories</h2>
            <p>A Role-playing game of death and ghosts in the world of urban fantasy with the distinct atmosphere of Nordic Noir.</p>
            <p>The welfare state and decent society are just masks that hide corruption and 
                    decay underneath. Under and intertwined with these mundane horrors lies unknown
                    forces that tear into the everyday reality.</p>
            <p>The Quick are death cultists, ghost hunters, exorcists and unspace explorers
                    protecting the fragile everyday reality. Trying to keep the gates of Hell closed.</p>
              </article>
              <article>
                <img src="/the-quick/thequickcover.webp" alt="The Quick Cover" />

                <h2>info</h2>
                <p>Available in PDF and Print from <a href="https://preview.drivethrurpg.com/en/product/277604/The-Quick">DriveThruRPG</a></p> 
                <h3 class="m-y">Downloads</h3> 
                <p>
                  <a href="/downloads/thequick/character-sheet_1.0.0.pdf">Character sheet</a>
                  <br>
                  <a href="/downloads/thequick/threat-sheet_1.0.0.pdf">Threats sheet</a>
                  <br><a href="/downloads/thequick/moves-cheat-sheet_1.0.0.pdf">Moves cheat-sheet</a>
                </p>
              </article>
          </div>
        </section>
    </QuickContent>
  </main>
</Page>
