---
import BlogIndex from "@components/blog/BlogIndex.astro";
import EKIntro from "./EkIntro.md";
---

<section>
  <h1>Eevenkoto</h1>
  <div class="two-col">
    <article>
      <h2>Mistä on kyse?</h2>
      <EKIntro />
    </article>
    <article>
      <h2>Materiaali</h2>
      <BlogIndex tag="Eevenkoto" />
    </article>
  </div>
</section>