---
import LetlBlock from "@components/letl/LetlBlock.astro";
import Page from "src/layouts/Page.astro";
---
<Page title="MYRRYS">
  <main>
    <section class="content-grid">
      <article>
        <h1>Hups!</h1>
        <p>Tämä osoite ei vie minnekään.</p>   
        <p>Ehkä löydät etsimäsi <a href="/">etusivulta</a>?</p> 
      </article>
    </section>
  </main>
</Page>
