---
import Page from "src/layouts/Page.astro";
---
<Page title="MYRRYS – DesignSystem">
  <section class="content-grid">
    <article>
      <h1>A semi-hidden design documentation for the site.</h1>
    </article>
    <article>
      <h2>Buttons</h2>
      <div class="flex flex-col justify-center">
        <button>A button</button>
        <a href="#buttons" class="button">A link Button</a>
      </div>
    </article>
  </section>
</Page>
