---
import MiscBlock from "@components/home/MiscBlock.astro";
import LessBlock from "@components/less/LessBlock.astro";
import LetlBlock from "@components/letl/LetlBlock.astro";
import Page from "src/layouts/Page.astro";
---
<Page title="MYRRYS">
  <main>
    <LetlBlock />
    <LessBlock />
    <MiscBlock />
  </main>
</Page>
