<div id="hamburger-menu">
  <input type="checkbox" id="menu-btn" name="menu-btn" />
  <label id="menu-icon" for="menu-btn">
    <span class="navicon"></span>
  </label>
</div>

<ul id="top-nav-links">
  <li class="only-on-mobile home-nav">
    <a href="/">
      <img src="/branding/myrrys-logo-letl-inverted.svg" alt="MYRRYS" class="myrrys-logo-nav"/>
    </a>
  </li>
  <li>
    <a href="/letl"> Legendoja & lohikäärmeitä </a>
  </li>
  <li>
    <a href="/letl-suuri-seikkailu"> L &amp; L: Suuri Seikkailu </a>
  </li>
  <li>
    <a href="/letl-suuri-seikkailu"> L &amp; L: Eevenkoto </a>
  </li>
  <li>
    <a href="/thequick"> The Quick </a>
  </li>
  <li>
    <a href="/blog"> Blogi </a>
  </li>
  <li>
    <a href="/en">
      <img src="/twotone-language.svg" class="icon" /> EN
    </a>
  </li>
</ul>

<style>
#hamburger-menu {
  height: calc(var(--grid) * 3);
  width: calc(var(--grid) * 3);
  border-radius: 50%;
  background-color: color-mix(in hsl, var(--surface-secondary), transparent 20%);
  position: fixed;
  margin: 0;
  top: calc(var(--grid));
  right: calc(var(--grid));
  z-index: 20000;
}
body:has(#menu-btn:checked) #hamburger-menu {
  background-color: color-mix(in hsl, black 33%, var(--surface-secondary));
}
#menu-btn {
  display: none;
}
#menu-icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: calc(var(--grid) * 6 / 4 - 2px);
  padding-left: calc(var(--grid) * 0.5);
}
.navicon, .navicon:before, .navicon:after {
  --bar-width: calc(var(--grid) / 3.5);
  background-color: var(--color-primary);
  display: block;
  position: relative;
  width: calc(var(--grid) * 2);
  height: var(--bar-width);
  transition: all 0.22s ease-in-out;
}
.navicon:before, .navicon:after {
    content: '';
    position: absolute;
    left: 0;
}
.navicon:before {
  top: calc(var(--grid) * 3 / 4 - (var(--bar-width) / 2));
}
.navicon:after {
  bottom: calc(var(--grid) * 3 / 4 - (var(--bar-width) / 2));
}
#menu-btn:checked ~ #menu-icon .navicon {
  background: transparent;
}
#menu-btn:checked ~ #menu-icon .navicon:before {
  transform: rotate(-45deg);
}
#menu-btn:checked ~ #menu-icon .navicon:after {
  transform: rotate(45deg);
}
#menu-btn:checked ~ #menu-icon .navicon:before,
#menu-btn:checked ~ #menu-icon .navicon:after {
  top: 0;
}
#top-nav-links {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  transform: translateX(-100%);
  z-index: 10000;
  padding: var(--grid);
  margin: 0;
  list-style-type: none;
  background-color: color-mix(in hsl, var(--surface-secondary), transparent 90%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.22s ease-in-out;
}
#top-nav-links li {
  margin: calc(var(--grid) / 2);
  padding: calc(var(--grid) / 2) var(--grid);
  background-color: color-mix(in hsl, black 33%, var(--surface-secondary));
  font-weight: 700;
  font-size: calc(var(--grid) * 1.5);
}
#top-nav-links li a {
  color: var(--surface-primary);
  text-decoration: none;
}
#top-nav-links li a:active {
  color: white;
  text-decoration: none;
}
body:has(#menu-btn:checked) #top-nav-links {
  transform: translateX(0);
  background-color: var(--surface-secondary);
}
img.icon {
  display: inline-block;
  height: calc(var(--grid) * 2);
  vertical-align: middle;
  margin-top: -3px;
}
img.myrrys-logo-nav {
  height: calc(var(--grid) * 2);
}
</style>