<h2>Tsekkaa myös nämä!</h2>

<h3><a href="/the-quick">The Quick</a></h3>

<p>The Quick on hahmojen ja heidän välisen dynamiikan ympärille rakentuva tarinavetoinen roolipeli, jonka säännöt perustuvat siirtoihin ja vapaaseen kerrontaan Powered by the Apocalypse ja Forged in the Dark -pohjaisia pelejä mukaillen.</p>


<h3><a href="/hood">Hood</a></h3>

<p>Hood -roolipelissä pelaajien hahmot seikkailevat Robin Hoodin legendan innoittamissa seikkailuissa. Peli käyttää Jukka Sorsan suunnittelemaa vauhdikkaita seikkailuja tuottavaa sääntöjärjestelmää.</p>

