---
// Front page section for Legenda newspaper, will link to the full Legenda subsite
---
<section class="theme-legenda content-grid">
  <article class="surface">
    <h1>Legenda</h1>
    <div class="two-col">
      <div>Legenda on vapaaehtoisvoimin tehty voittoa tavoittelematon lehti, joka ilmestyy vuosittain Ropeconissa. Lehden sisältö toimii Legendoissa ja Lohikäärmeissä sekä muissa vastaavissa 5E - pohjaisissa fantasiapeleissä.</div>
      <div>...</div>
    </div>
    <br>
    <div class="cta flex justify-center">
      <a href="/letl-suuri-seikkailu" class="button">Lue lisää</a>
    </div>
  </article>
</section>