---
import LegendaFrontArticle from "./LegendaFrontArticle.astro";

// Front page section for Legenda newspaper, will link to the full Legenda subsite
---
<section class="theme-legenda content-grid">
  <div class="surface">
  <LegendaFrontArticle />
  </div>
</section>

