---
import LessBlock from "@components/less/LessBlock.astro";
import Page from "@layouts/Page.astro";
---
<Page 
  title="L&L Suuri Seikkailu"
  description="L&L: Suuri seikkailu on suunniteltu pelaajille, jotka haluavat tutustua Legendoja & lohik채채rmeit채 -roolipeliin matalalla aloituskynnyksell채."
  image="/letl/llss/suuri-seikkailu-kansi-mobile.webp"
  >
  <main>
    <LessBlock />
  </main>
</Page>
