<img src="/the-quick/thequickcover.webp" alt="The Quick Cover" />

<h2>info</h2>

<p>Saatavilla printtinä ja PDF:nä
  <a href="https://preview.drivethrurpg.com/en/product/277604/The-Quick">
    DriveThruRPG:n kautta.
  </a></p>
</section>
<h3 class="m-y">Lataukset</h3>
<ul>
  <li>
    <a href="/downloads/thequick/character-sheet_1.0.0.pdf">Hahmolomake</a></p>
  </li>
  <li>
    <a href="/downloads/thequick/threat-sheet_1.0.0.pdf">Uhkalomake (Threat sheet)</a></p>
  </li>
  <li>
    <a href="/downloads/thequick/moves-cheat-sheet_1.0.0.pdf">Yhteenveto siirroista</a></p>
  </li>
</ul>