---
import BaseHead from "@components/base/BaseHead.astro";
import SiteFooter from "@components/base/SiteFooter.astro";
import TopNav from "@components/base/TopNav.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
}
const { title, description, image = "/favicon.svg" } = Astro.props;
---
<html lang="fi">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <TopNav />
    <slot />
    <SiteFooter />
  </body>
</html>